* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background: #fff url(https://sun9-61.userapi.com/impg/xPhZhSUapBdWS7KUQEHqyiTOtxHygVJQZuinkg/7KPBbbkvCEc.jpg?size=2560x1440&quality=96&sign=a5ae1807bcaa75d66c1e3eb6da5743ab&type=album) center top/auto repeat content-box local;
    center center/cover no-repeat;;
    background-color: rgb(254, 254, 254);
}

.header {
    background-color: rgb(255, 255, 255);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {

    font-size: 30px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    /* убирает подчеркиване сылки */
    font-weight: 600;
}

.navbar a {
    font-size: 18px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}

.navbar a:hover {
    color: rgb(186, 112, 255);
}

.frozen {
    margin-left: 12%;
    border-radius: 145px;
    background-color: #fff;
    box-shadow: 22px 22px 22px #e23333;

    animation: shadow 4s infinite;
}

.frozen:hover {
    transform: scale(1.3);
}

.frozen img {
    border: solid 4px white;
    opacity: 0;
    transition: opacity 0.5s ease;
    height: 300px;
    width: 300px;
    border-radius: 155px;

    transition: transform 0.5s ease;

    animation-fill-mode: forwards;
    animation-duration: 5s;
    animation-name: hide;
}

.home {
   
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
}

.home-content {
    opacity: 0;
    max-width: 600px;
    animation: hide;

    animation-fill-mode: forwards;
    animation-duration: 5s;
    animation-name: hide;
}


.home-content h1 {
    position: relative;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
    color: aliceblue;
}

.home-content h3 {
    font-size: 32px;
    font-weight: 700;
    color: rgb(67, 246, 70);
}

.home-content p {
    font-size: 18px;
    margin: 20px 0 40px;
    color: aliceblue;
}

.home-content .btn-box {
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
}

.btn-box a {
    padding: 10px;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-self: center;
    width: 150px;
    height: 100%;
    color: rgba(244, 244, 244, 0.999);

    border: 2px solid rgb(248, 245, 245);
    font-size: 19px;
    text-decoration: none;
    border-radius: 8px;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
}

.btn-box a:nth-child(2) {
    background: transparent;
    color: rgb(255, 255, 255);
}

.btn-box a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: rgb(149, 1, 255);
    z-index: -1;
    transition: 0.5s;
}

.btn-box a:hover::before {
    width: 100%;
}

h2 {
    color: #fff;
}

footer {
    position: fixed;
    display: flex;
    justify-content: center;
    bottom: 0;
    width: 100%;

}

footer a {
    margin: 10px;
    font-size: 50px;
}

footer p {
    margin-top: 25px;
    font-size: 22px;
    color: aliceblue;
}

.header-2 {
    min-height: 100vh;
    background: #fff url(https://gamerwall.pro/uploads/posts/2021-11/1637711413_9-gamerwall-pro-p-nait-siti-kiberpank-oboi-oboi-na-rabochii-12.jpg) center center/cover no-repeat;
}

.header-2 h1 {
    color: white;
    font-size: 55px;
    padding: 66px 30px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    overflow: auto;
    /* скрытие контента, выходящего за границы */

}

.content--item {
    padding: 10px;
    margin: 10px;
    border-radius: 26px;
    transition: opacity 2s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
}

.content--item.animated {
    opacity: 1;

}

.content--item a {
    text-decoration: none;
    font-size: 35px;
    color: aliceblue;

}

.content--item h4 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.content--item img {
    box-shadow: 0px 0px 25px 10px #fc00c194;
    height: 444px;
    width: 444px;
    border-radius: 32px;
    border: 3px solid rgb(0, 0, 0);
    opacity: 0.92;
}


  @keyframes shadow {
    0% {
      box-shadow: 0px 0 20px #ff0000;
    }
    50% {
      box-shadow: 0px 0 20px #5aff07;
    }
    100% {
      box-shadow: 0px 0 20px #0941fb;
    }
  }


@keyframes hide {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }

}