* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #111;
	width: 100vw;
	height: 100vh;
}

.video {
	position: relative;
	padding-bottom: 56%;
}

.video__media {
	box-shadow: 1px 1px 100px 100px #000000 inset;
	width: 100%;
	height: auto;
	position: absolute;
	top: 0;
	left: 0;
}

.intro {
	max-height: 100vh;
	overflow: hidden;
}

.intro:after {
	content: '';
	display: block;
	/* background-color: rgba(0, 0, 0, 0.8); */
	width: 100%;
	height: 100%;

	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
}

.intro__content {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 3;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 1200px;
	height: 100%;

	margin: 0 auto;
}

.portfolio {
	height: 100vh;
}

.text {
	display: flex;
	flex-direction: column;
	color: white;
	align-items: center;
	gap: 10px;
}

.text h1 {
	font-size: 100px;
}

.text h2 {
	font-size: 25px;
}

.portfolio {
	color: aliceblue;
}

.container__port {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.text__port {
	margin-top: 66px;
	font-size: 28px;
}

.front__end {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.front__end img {
	width: 100px;
	height: 100px;
}

.imagine {
	gap: 20px;
	display: flex;
	flex-direction: column;
}
